@model PhieuNhapViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@using Microsoft.AspNetCore.Http
@using ThietBiYeuThuong.Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Danh sach phiếu";

}

<!-- Main content -->
<section class="content" style="padding: 15px 0.5rem">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh sách phiếu </h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">

            <div class="pr-2 pl-2" style="padding-bottom:10px; padding-top: 6px; ">

                <form asp-action="Index" method="get" autocomplete="off">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row rounded pl-2" style="padding-bottom:5px; background-color: aliceblue;" id="search">

                        <div class="col-md-2 text-sm">
                            <label>Nhập thông tin</label>
                            <input class="form-control form-control-sm" name="searchString" value="@ViewBag.searchString" id="testSearch" />
                        </div>

                        <div class="col-md-2 text-sm">
                            <label>Từ ngày</label>
                            <input class="form-control form-control-sm maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" />
                        </div>

                        <div class="col-md-2 text-sm">
                            <label>Đến ngày</label>
                            <input class="form-control form-control-sm maskInput" name="searchToDate" value="@ViewBag.searchToDate" />
                        </div>

                        <div class="col-md-6 text-sm">
                            <label>&nbsp;</label>
                            <div class=" btn-block ">
                                <button type="submit" class="btn btn-primary btn-sm" id="btnSubmit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <a class="btn btn-outline-info btn-sm" asp-action="Create_Day" asp-route-strUrl="@Model.StrUrl" asp-route-page="@Model.Page" title="Thêm đầy"><i class="fas fa-plus"></i> Nhập đầy</a>
                                <a class="btn btn-outline-warning btn-sm" asp-action="Create_ThuHoi" asp-route-strUrl="@Model.StrUrl" asp-route-page="@Model.Page" title="Thêm thu hồi"><i class="fas fa-plus"></i> Nhập thu hồi</a>
                                <a class="btn btn-outline-success btn-sm" asp-action="Create_VuaBomVe" asp-route-strUrl="@Model.StrUrl" asp-route-page="@Model.Page" title="Thêm vừa bơm về"><i class="fas fa-plus"></i> Nhập vừa bơm về</a>
                                <a class="btn btn-outline-danger btn-sm" asp-action="Create_GoiBom" asp-route-strUrl="@Model.StrUrl" asp-route-page="@Model.Page" title="Gởi bơm"><i class="fas fa-plus"></i> Xuất gởi bơm</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            @*<br />*@
            <div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto; height: 300px">
                <table class="table mytable text-nowrap text-sm" id="phieuNhapTbl">
                    <thead>
                        <tr class="table-info">

                            <th>#</th>
                            <th>@Html.DisplayNameFor(m => m.PhieuNhapDtos.FirstOrDefault().SoPhieu)</th>
                            <th>@Html.DisplayNameFor(m => m.PhieuNhapDtos.FirstOrDefault().NgayNhap)</th>
                            <th>@Html.DisplayNameFor(m => m.PhieuNhapDtos.FirstOrDefault().DonVi)</th>
                            <th>@Html.DisplayNameFor(m => m.PhieuNhapDtos.FirstOrDefault().TrangThai)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PhieuNhapDtos != null)
                        {
                            @foreach (var item in Model.PhieuNhapDtos)
                            {

                                <tr class="cursor-pointer @item.SoPhieu" @*data-huy="@item.HuyTour"*@ onclick="Thietbi_Tbl()">

                                    <td>
                                        <div class="btn-group text-white" role="group">

                                            <a class="text-primary" title="Cập nhật" asp-action="Edit" asp-route-id="@item.SoPhieu" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                            @*<span class="text-dark"> | </span>

                                                <a class="text-success" title="Chi tiết" asp-action="Details" asp-route-SoPhieu="@item.SoCT" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>*@
                                            <!-- ko cho xóa -->
                                            @*<span class="text-dark"> | </span>*@
                                            <span SoCT="confirmDeleteSpan_@item.SoPhieu" style="display: none">
                                                <!--ajax check invoices-->
                                                <span class="text-dark invoiceTrue">Hủy?</span>
                                                <button type="button" class="btn btn-danger btn-xs btnHuyPhieu" data-SoCT="@item.SoPhieu" data-url="@Model.StrUrl">Yes</button>
                                                <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.SoPhieu', false)">No</button>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="tdVal" data-id="@item.SoPhieu">@Html.DisplayFor(m => item.SoPhieu)</td>
                                    <td class="tdVal" data-id="@item.SoPhieu">@Html.DisplayFor(m => item.NgayNhap)</td>
                                    <td class="tdVal" data-id="@item.SoPhieu">@Html.DisplayFor(m => item.DonVi)</td>
                                    <td class="tdVal" data-id="@item.SoPhieu">@Html.DisplayFor(m => item.TrangThai)</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
                <!--hiden field for status click-->
                @*<input type="hidden" id="hidTdValId" value="@Model.Tour.Id" />*@
                <!--hiden field for status click-->
            </div>
            <div class="p-2" style="background-color: aliceblue;">
                @if (Model.PhieuNhapDtos != null)
                {
                    @Html.PagedListPager((IPagedList)Model.PhieuNhapDtos, page => Url.Action("Index", new
               {
                   page = page,
                   option = Context.Request.Query["option"],
                   searchString = @ViewBag.searchString,
                   searchFromDate = ViewBag.searchFromDate,
                   searchToDate = ViewBag.searchToDate
               }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            MaximumPageNumbersToDisplay = 5,
                            UlElementClasses = new[] { "pagination pagination-sm m-0" }, // ul class
                            ContainerDivClasses = new[] { "pagination-container" }
                        }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
                }
            </div>
            <!-- Thietbi-->
            <div id="CTPhieu_Tbl">
            </div>

            <div id="CTPhieu_Create_Partial">
            </div>

            <div id="CTPhieu_Edit_Partial">
            </div>
        </div>
        <!-- /.card-body -->
        @*<div class="card-footer">
                Footer
            </div>*@
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

@section Scripts{

    <script src="~/js/Admin/PhieuNhap/pn_indexController.js"></script>
    <script>

        //var id_Redirect = 'Model.KVPTC.Id'; //Id sau khi redirect ve //////////////////////////////////////////////
        var id_Redirect = '@ViewBag.id'; //Id sau khi redirect ve //////////////////////////////////////////////

        //var tr_click = $('#phieuTbl ' + soCT);
        if (id_Redirect !== '') {

            var id_Redirect_Class = $('.' + id_Redirect);

            if (id_Redirect_Class.hasClass("hoverClass")) {
                id_Redirect_Class.removeClass("hoverClass");
            }
            else {
                id_Redirect_Class.removeClass("hoverClass");
                id_Redirect_Class.addClass("hoverClass");
            }

            pn_indexController.TdVal_PhieuNhap_Click(id_Redirect);
        }

        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }

        function Thietbi_Tbl() { // tab href
            location.href = "#Thietbi_Tbl";
        }
    </script>
}