@model CTPhieuViewModel

@using Microsoft.AspNetCore.Http
@using ThietBiYeuThuong.Data.Utilities
@using ThietBiYeuThuong.Data.Models
@inject IHttpContextAccessor HttpContextAccessor

@{

    var user = HttpContextAccessor.HttpContext.Session.GetSingle<User>("loginUser");
}

<div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto">
    <table class="table mytable text-nowrap text-sm" id="tinhTrangBNTbl">
        <thead>
            <tr class="table-info">

                <th> <button type="button" class="btn btn-outline-info btn-sm text-bold btn-block" id="btn_New_CTPhieu" data-phieunhapid="@Model.PhieuNhap.SoPhieu" data-page="@Model.Page" title="Thêm chi tiết"><i class="fas fa-plus"></i></button></th>
                <th>Ngày</th>
                @*<th>@Html.DisplayNameFor(m => m.CTPhieus.FirstOrDefault().SoPhieuCT)</th>*@
                <th>@Html.DisplayNameFor(m => m.CTPhieus.FirstOrDefault().ThietBi.TenTB)</th>
                <th>@Html.DisplayNameFor(m => m.CTPhieus.FirstOrDefault().DongHoGiao)</th> <!--?-->
                <th>@Html.DisplayNameFor(m => m.CTPhieus.FirstOrDefault().DongHoThu)</th> <!--?-->
                <th>@Html.DisplayNameFor(m => m.CTPhieus.FirstOrDefault().NVGiaoBinh)</th>
                <th>@Html.DisplayNameFor(m => m.CTPhieus.FirstOrDefault().GhiChu)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CTPhieus != null)
            {
                @foreach (var item in Model.CTPhieus)
                {

                    <tr class="ctphieu-cursor-pointer ">

                        <td>
                            <div class="btn-group text-white" role="group">

                                <a class="text-primary btnEditCTPhieu" title="Cập nhật" data-id="@item.SoPhieuCT"><i class="fas fa-edit"></i></a>
                                @*<span class="text-dark"> | </span>*@

                                <!--<a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="item.Id"><i class="fas fa-list"></i></a>-->

                                <span class="text-dark"> | </span>
                                <span id="confirmDeleteSpan_@item.SoPhieuCT" style="display: none">

                                    <span class="text-dark ">Xoá?</span>
                                    <button type="button" class="btn btn-danger btn-xs btnXoaDong" data-phieunhapid="@Model.PhieuNhap.SoPhieu" data-id="@item.SoPhieuCT">Yes</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.SoPhieuCT', false)">No</button>
                                </span>
                                <span id="deleteSpan_@item.SoPhieuCT">

                                    <button type="button" data-id="@item.SoPhieuCT" class="text-danger border-0 bg-transparent btnXoa" title="Xoá" onclick="confirmDelete('@item.SoPhieuCT', true)"><i class="fas fa-trash-alt"></i></button>
                                </span>
                            </div>
                        </td>

                        <td class="tdVal_CTPhieu" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.NgayTao)</td>
                        <td class="tdVal_CTPhieu" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.ThietBi.TenTB)</td>
                        <td class="tdVal_CTPhieu" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.DongHoGiao)</td>
                        <td class="tdVal_CTPhieu" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.DongHoThu)</td>
                        <td class="tdVal_CTPhieu" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.NVGiaoBinh)</td>
                        <td class="tdVal_CTPhieu" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.GhiChu)</td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<script src="~/js/Admin/PhieuNhap/pn_indexController.js"></script>

<script>
    function confirmDelete(uniqueId, isDeleteClicked) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    // btn_New_CTPhieu
    $('#btn_New_CTPhieu').off('click').on('click', function () {

        debugger
        phieuNhapId = '@Model.PhieuNhap.SoPhieu';

        $('#CTPhieu_Tbl').hide(500);
        $('#CTPhieu_Edit_Partial').hide(500);

        var url = '/CTPhieu/CTPhieu_Create_Partial';
        $.get(url, { phieuNhapId: phieuNhapId }, function (response) {

            $('#CTPhieu_Create_Partial').show(500);
            $('#CTPhieu_Create_Partial').html(response);

        });

    });

    // btnEditCTPhieu
    $('.btnEditCTPhieu').off('click').on('click', function (e) {
        e.preventDefault();

        debugger
        phieuNhapId = '@Model.PhieuNhap.SoPhieu';
        id = $('.btnEditCTPhieu').data('id');
        page = '@Model.Page';
        strUrl = '@Model.StrUrl';

        $('#CTPhieu_Tbl').hide(500);
        $('#CTPhieu_Create_Partial').hide(500);

        var url = '/CTPhieu/CTPhieu_Edit_Partial';
        $.get(url, { phieuNhapId: phieuNhapId, id: id, strUrl: strUrl, page: page }, function (response) {

            $('#CTPhieu_Edit_Partial').show(500);
            $('#CTPhieu_Edit_Partial').html(response);

        });

    });

    // btnXoaDong
    $('.btnXoaDong').off('click').on('click',function () {

        var page = @Model.Page;
        phieuNhapId = '@Model.PhieuNhap.SoPhieu';
        id = $(this).data('id'); // id: Id

        var url = '/CTPhieu/Delete';
        $.post(url, { id: id }, function (response) {
            debugger
            if (response) {
                toastr.success('Xoá thành công', 'Xoá!');
                pn_indexController.Load_CTPhieuPartial(phieuNhapId, page);
            }
        });

    });
        // btnXoaDong
</script>