@model CTHoSoBNViewModel

@using Microsoft.AspNetCore.Http
@using ThietBiYeuThuong.Data.Utilities
@using ThietBiYeuThuong.Data.Models
@inject IHttpContextAccessor HttpContextAccessor

@{

    var user = HttpContextAccessor.HttpContext.Session.GetSingle<User>("loginUser");
}

<div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto">
    <table class="table mytable text-nowrap text-sm" id="cTPhieuTbl">
        <thead>
            <tr class="table-info">

                <th> <button type="button" class="btn btn-outline-info btn-sm text-bold btn-block" id="btn_New_CTHoSoBN" data-hosobnid="@Model.HoSoBN.SoPhieu" data-page="@Model.Page" title="Thêm chi tiết"><i class="fas fa-plus"></i></button></th>
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().SoPhieuCT)</th>
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().ThietBiId)</th>
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().NgayXuat)</th> <!--?-->
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().DongHoGiao)</th> <!--NgoaiTe-->
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().DongHoThu)</th>
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().NVGiaoBinh)</th>
                <th>@Html.DisplayNameFor(m => m.CTHoSoBNs.FirstOrDefault().GhiChu)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CTHoSoBNs != null)
            {
                @foreach (var item in Model.CTHoSoBNs)
                {

                    <tr class="ctphieu-cursor-pointer ">

                        <td>
                            <div class="btn-group text-white" role="group">

                                <a class="text-primary btnEditCTHoSoBN" title="Cập nhật" data-ctphieuid="@item.SoPhieuCT"><i class="fas fa-edit"></i></a>
                                @*<span class="text-dark"> | </span>*@

                                <!--<a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="item.Id"><i class="fas fa-list"></i></a>-->

                                <span class="text-dark"> | </span>
                                <span id="confirmDeleteSpan_@item.SoPhieuCT" style="display: none">

                                    <span class="text-dark ">Xoá?</span>
                                    <button type="button" class="btn btn-danger btn-xs btnXoaDong" data-phieunxid="@Model.HoSoBN.SoPhieu" data-id="@item.SoPhieuCT">Yes</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.SoPhieuCT', false)">No</button>
                                </span>
                                <span id="deleteSpan_@item.SoPhieuCT">

                                    <button type="button" data-id="@item.SoPhieuCT" class="text-danger border-0 bg-transparent btnXoa" title="Xoá" onclick="confirmDelete('@item.SoPhieuCT', true)"><i class="fas fa-trash-alt"></i></button>
                                </span>
                            </div>
                        </td>

                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.SoPhieuCT)</td>
                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.ThietBiId)</td>
                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.NgayXuat)</td>
                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.DongHoGiao)</td>
                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.DongHoThu)</td>
                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.NVGiaoBinh)</td>
                        <td class="CTHoSoBNs" data-id="@item.SoPhieuCT">@Html.DisplayFor(m => item.GhiChu)</td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<script src="~/js/Admin/HoSoBN/hs_indexController.js"></script>
<script>
    function confirmDelete(uniqueId, isDeleteClicked) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    // btn_New_CTHoSoBN
    $('#btn_New_CTHoSoBN').off('click').on('click', function () {
        hoSoBNId = '@Model.HoSoBN.SoPhieu';

                $('#CTHoSoBN_Tbl').hide(500);
                $('#CTHoSoBN_Edit_Partial').hide(500);

                var url = '/CTHoSoBN/CTHoSoBN_Create_Partial';
                $.get(url, { hoSoBNId: hoSoBNId }, function (response) {

                    $('#CTHoSoBN_Create_Partial').show(500);
                    $('#CTHoSoBN_Create_Partial').html(response);

                });
    });

    // edit CTHoSoBN
    $('.btnEditCTHoSoBN').off('click').on('click', function (e) {
        e.preventDefault();

        var tuNgay = '@DateTime.Now.ToShortDateString()';

        $.post('/CTHoSoBN/CheckTonDau', { tuNgay: tuNgay }, function (response) {

            if (!response.status) {
                toastr.warning(response.message, "Thông báo!");
            }
            else {
                debugger
                //phieunxid = $(this).data('phieunxid');
                phieunxid = '@Model.HoSoBN.SoPhieu';
                id = $('.btnEditCTHoSoBN').data('ctphieuid');
                page = '@Model.Page';
                strUrl = '@Model.StrUrl';

                $('#CTHoSoBN_Tbl').hide(500);
                $('#CTHoSoBN_Edit_Partial').hide(500);

                var url = '/CTHoSoBN/CTHoSoBN_Edit_Partial';
                $.get(url, { phieunxid: phieunxid, id: id, strUrl: strUrl, page: page }, function (response) {

                    $('#CTHoSoBN_Create_Partial').show(500);
                    $('#CTHoSoBN_Create_Partial').html(response);

                });
            }
        })

    });
        // edit CTHoSoBN

    // btnXoaDong
    $('.btnXoaDong').off('click').on('click',function () {

        var page = @Model.Page;
        var hoSoBNId = '@Model.HoSoBN.SoPhieu';

        id = $(this).data('id'); // id: SoPhieuCT

        var url = '/CTHoSoBN/Delete';
        $.post(url, { id: id }, function (response) {
            debugger
            if (response) {
                toastr.success('Xoá thành công', 'Xoá!');
                hs_indexController.Load_CTHoSoBNPartial(hoSoBNId, page);
            }
        });

    });
        // btnXoaDong
</script>