@model BenhNhanViewModel

<div class="row form-group">
    <div class="col-xs-12 col-md-6">
        <div class="input-group">
            <input type="text" value="@Model.MaBNText" class="form-control form-control-sm text-uppercase" id="txtTimBN_Edit" placeholder="Nhập mã BN, họ tên...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm btSearch_ThemMoi" id="btSearch_Edit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<div style="overflow-x:auto; overflow-y:auto; height: 300px">
    <table class="table mytable text-nowrap text-sm" id="khachHangTbl">
        <thead>
            <tr class="table-info">

                <th>Mã BN</th>
                <th>Họ tên TN</th>
                <th>SDT_TN</th>
                <th>Giới tính</th>
                <th>Họ tên BN</th>
                <th>Năm sinh</th>
                <th>CMND/CCCD</th>
                <th>Địa chỉ </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.IEnumBenhNhan != null)
            {
                @foreach (var item in Model.IEnumBenhNhan)
                {

                    <tr class="benhnhans-cursor-pointer ">

                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.MaBN)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.HoTenTN)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.SDT_TN)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.GT_TN)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.HoTenBN)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.NamSinh)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.CMND_CCCD_BN)</td>
                        <td class="tdVal_BN" data-id="@item.MaBN">@Html.DisplayFor(m => item.DiaChi)</td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<!--<div class=" pt-1 pb-1">
    <button type="button" class="btn btn-success btn-sm"-->
@*id="btnKVCTPCTCreatePartial_Back"*@
<!--data-dismiss="modal"><i class="fas fa-backward "></i> Back</button>
</div>-->

<script>
    $('.btSearch_Edit').off('click').on('click', function () {

        var maKhText = $('.txtTimBN_Edit').val();

        BenhNhanSearch_Edit(maKhText); // ben Edit
    })
    $('.benhnhans-cursor-pointer').click(function () {

        // giu trang thai
        if ($(this).hasClass("hoverClass"))
            $(this).removeClass("hoverClass");
        else {
            $('.benhnhans-cursor-pointer').removeClass("hoverClass");
            $(this).addClass("hoverClass");
        }

        var maBN = $(this).children().eq(0).html();
        var hoTenTN = $(this).children().eq(1).html();
        var sdt_TN = $(this).children().eq(2).html();
        var gt_TN = $(this).children().eq(3).html();
        var hoTenBN = $(this).children().eq(4).html();
        var namSinh = $(this).children().eq(5).html();
        var cmnd_CCCD_BN = $(this).children().eq(6).html();
        var diaChi = $(this).children().eq(7).html();

        $('#txtHoTenBN_Edit').val(hoTenBN);
        $('#txtHoTenTN_Edit').val(hoTenTN);
        $('#txtNamSinh_Edit').val(namSinh);
        $('#txtBenhNhanId_Edit').val(maBN);

        //var code = $(this).find("td").eq(0).html();
        //var name = $(this).find("td").eq(1).html();
        //var city = $(this).find("td").eq(2).html();
        //var address = $(this).find("td").eq(3).html();
        //var telephone = $(this).find("td").eq(4).html();
        //var email = $(this).find("td").eq(5).html();
        //var taxCode = $(this).find("td").eq(6).html();
        //var taxSign = $(this).find("td").eq(7).html();
        //var taxForm = $(this).find("td").eq(8).html();

        //console.log(text);
    })
</script>